<div class="card m-1 m-xl-5 m-lg-5 m-md-3 m-sm-3 shadow">
    <div class="card-body">
        <div class="pd-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div id="slider" class=" product-slider">
                            <div class="item">
                                <img src="{{ product.img }}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-dtl">
                            <div class="product-info">
                                <div class="product-name mt-5">{{ product.productName }}</div>
                                <div class="reviews-counter">
                                    <div class="rate">
                                        <input type="radio" id="star5" name="rate" value="5" checked />
                                        <label for="star5" title="text">5 stars</label>
                                        <input type="radio" id="star4" name="rate" value="4" checked />
                                        <label for="star4" title="text">4 stars</label>
                                        <input type="radio" id="star3" name="rate" value="3" />
                                        <label for="star3" title="text">3 stars</label>
                                        <input type="radio" id="star2" name="rate" value="2" />
                                        <label for="star2" title="text">2 stars</label>
                                        <input type="radio" id="star1" name="rate" value="1" />
                                        <label for="star1" title="text">1 star</label>
                                    </div>
                                    <span>4 Reviews</span>
                                </div>
                                <div class="product-price-discount"><span>${{ product.productPrice }}</span><span class="line-through">${{ product.productPrice +100}}</span></div>
                            </div>
                            <p>{{ product.description }}</p>
                            <label for="available" class="label-styling">Available
                            </label> <span>  {{ product.qty }}</span>
                            <div class="product-count">

                                <a [routerLink]="['/Home']" (click)="deleteProduct(product.productId)" class="round-black-btn mr-2"><i class="bx bx-trash-alt bx-tada-hover bx-fw"></i>Delete</a>
                                <a [routerLink]="['/Admin/Product', product.productId]" class="round-black-btn2 mr-2"><i class="bx bx-pencil bx-flashing-hover bx-fw"></i>Edit</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-info-tabs">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Reviews (0)</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                            {{ product.description }}
                        </div>
                        <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                            <div class="review-heading">REVIEWS</div>
                            <p class="mb-5">There are no reviews yet.</p>
                            <form class="review-form">
                                <div class="form-group">
                                    <label for="rating" class="label-styling">Your rating</label>
                                    <div class="reviews-counter">
                                        <div class="rate" required="required">
                                            <input type="radio" id="star5" name="rate" value="5" />
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" />
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" />
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" />
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" checked />
                                            <label for="star1" title="text">1 star</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="message" class="label-styling">Message</label>
                                    <textarea class="form-control" rows="6" placeholder="Your Message..." required="required"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name" class="label-styling">Name</label>
                                            <input type="text" name="" class="form-control" placeholder="Your Name..." required="required">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Email" class="label-styling">Email</label>
                                            <input type="text" name="" class="form-control" placeholder="Your Email..." required="required">
                                        </div>
                                    </div>
                                </div>
                                <button class="round-black-btn3 btn btn-block">Send Review <i class='bx bxl-telegram bx-fw'></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
