<main>
    <div class="container">
        <div class="row align-items-center" style="height: 600px;">

            <!-- Image -->
            <div class="col-md-6 pl-3">
                <img src="../../assets/img/404.svg" class="img-fluid" width="400" alt="404 error">
            </div>
            <!-- /col-md-6 -->

            <!-- Text -->
            <div class="col-md-6 pl-3">
                <h2 class="h-sizing">OoOps! 404</h2>
                <h2 class="h-sizing2">Sorry but the page has not been found</h2>
                <div class="py-4">
                    <a routerLink="/Home" routerLinkActive="active" class="btn animate__animated animate__pulse"><i class='bx bx-home bx-fw'></i> Back Home</a>
                </div>
            </div>
            <!-- /col-md-6 -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
