//===========================================================================================//
//=============================== the website color palette ==================================//
//===========================================================================================//
$color-solid-black: #252525;
$color-soft-black: #2d2d2d;
$color-grey: #D3D4CE;
$color-white: #FFFFFF;
$color-blue-grey: #F6F6F6;
$color-dark-blue: #023246;
$color-soft-blue: #287194;
$color-soft-babe-blue: #8ecae6;
$color-dark-red: #F95F19;
$color-solid-gold: #F29602;
$color-soft-gold: #f5cb5c;
//===========================================================================================//
//===========================================================================================//