@import "../app.component.scss";
.scroll-to-top {
    position: fixed;
    z-index: 2000;
    right: 1rem;
    bottom: 1rem;
    display: none;
    width: 2.65rem;
    height: 2.65rem;
    text-align: center;
    color: $color-white;
    background: rgba($color-dark-red, 0.5);
    line-height: 46px;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
    color: $color-white;
}

.scroll-to-top:hover {
    background: $color-dark-red;
}

.scroll-to-top i {
    color: $color-white;
    font-weight: 800;
}
