<div class="card m-1 m-xl-5 m-lg-5 m-md-3 m-sm-3 shadow">
    <div class="card-body">
        <!-- comment section start here  -->
        <div class="container">
            <h2 class="page-title m-3"> Our Client Reviews </h2>
            <div class="tab-content">
                <div class="tab-pane  active">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="testimonial-wrap">
                                <div class="testimonial">
                                    <strong>Client Email</strong>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptas odit consectetur necessitatibus suscipit libero nam porro hic, cumque quos, aspernatur voluptatem laboriosam modi voluptatum nesciunt deleniti repellat error doloribus!.
                                    </p>
                                </div>
                                <cite class="testimonial-author">
                           <span class="name mt-2"><strong>Client Name</strong></span>
                           <span class="stars">
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                             <i class="fa fa-star"></i>
                           </span>
                        </cite>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="testimonial-wrap">
                                <div class="testimonial">
                                    <strong>Client Email</strong>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptas odit consectetur necessitatibus suscipit libero nam porro hic, cumque quos, aspernatur .
                                    </p>
                                </div>
                                <cite class="testimonial-author">
                         <span class="name mt-2"><strong>Client Name</strong></span>
                         <span class="stars">
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                         </span>
                      </cite>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
