<div class="card my-2 shadow">
    <div class="card-header py-1 pt-3">
        <p><span class="head-category"> Shop By Category</span> </p>
    </div>
    <div class="card-body">
        <div class="container my-3">
            <div class="row mt-2 ">
                <div class="col-md-4 col-sm-6">
                    <div class="box8">
                        <img src="../../../assets/img/c-laptop.jpg">
                        <h3 class="title">Laptop</h3>
                        <div class="box-content">
                            <ul class="icon">
                                <li><a href="#"><i class='bx bx-show-alt' ></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box8">
                        <img src="../../../assets/img/c-phone.jpg">
                        <h3 class="title">Smart Phone</h3>
                        <div class="box-content">
                            <ul class="icon">
                                <li><a href="#"><i class='bx bx-show-alt' ></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box8">
                        <img src="../../../assets/img/c-camera.jpg">
                        <h3 class="title">Camera</h3>
                        <div class="box-content">
                            <ul class="icon">
                                <li><a href="#"><i class='bx bx-show-alt' ></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mt-3">
                    <div class="box8">
                        <img src="../../../assets/img/c-tv.jpg">
                        <h3 class="title">Smart TV</h3>
                        <div class="box-content">
                            <ul class="icon">
                                <li><a href="#"><i class='bx bx-show-alt' ></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mt-3">
                    <div class="box8">
                        <img src="../../../assets/img/c-headphone.jpg">
                        <h3 class="title">Electronics</h3>
                        <div class="box-content">
                            <ul class="icon">
                                <li><a href="#"><i class='bx bx-show-alt' ></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mt-3">
                    <div class="box8">
                        <img src="../../../assets/img/c-joy.jpg">
                        <h3 class="title">Accessories</h3>
                        <div class="box-content">
                            <ul class="icon">
                                <li><a href="#"><i class='bx bx-show-alt' ></i> </a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
